.ui.vertical.footer.segment
  .ui.container 
    .ui.stackable.equal.height.stackable.grid 
      .seven.wide.column 
        img(src="/images/logo_white.svg")
        p.privacy We care about your privacy. We designed this website to be safe and private. We never ask for personal, identifying information and will never share information with the government.
      .one.wide.column
      .eight.wide.column
        i.icon.envelope.white.big.link(href="mailto: rightsforhealth@cornell.edu" target="_blank")
        p Do you have more questions? Contact us at 
          a.emailLink(href="mailto: rightsforhealth@cornell.edu" target="_blank") rightsforhealth@cornell.edu
          |.