.footer
  //- img(src="/images/logo_white.svg")
  //- br
  //- br
  p Do you have more questions?  
  p 
    b Email us at 
    a.emailLink(href="mailto: cornell@cornell.edu" target="_blank") cornell@cornell.edu
    | .
  //- .ui.grid.stackable.centered.relaxed
  //-     .column.one.wide
  //-     .column.four.wide
  //-         a(href="https://www.lawschool.cornell.edu/" target="_blank")
  //-             img(src="/images/logo_white.svg")
  //-     .column.seven.wide
  //-         p Our core team includes researchers, doctors, and lawyers from Cornell University, Weill Cornell Medicine, and Cornell Law School.
  //-     .column.four.wide
  //-       p Do you have more questions?  
  //-       p Email us at 
  //-         a.emailLink(href="mailto: cornell@cornell.edu" target="_blank") cornell@cornell.edu
  //-         | .
  //- .ui.grid.stackable.centered.relaxed
  //-     .column.one.wide
  //-     .column.four.wide
  //-         a(href="https://www.lawschool.cornell.edu/" target="_blank")
  //-             img(src="/images/logo_white.svg")
  //-     //- .column.seven.wide
  //-     //-     p Our core team includes researchers, doctors, and lawyers from Cornell University, Weill Cornell Medicine, and Cornell Law School.
  //-     .column.seven.wide
  //-     .column.four.wide
  //-       p Do you have more questions?  
  //-       p Email us at 
  //-         a.emailLink(href="mailto: cornell@cornell.edu" target="_blank") cornell@cornell.edu
  //-         | .