extends layout

block content
    .team 
        h2.boldText.pageTitle Team
        h4 RightsForHealth was developed through collaborative research among a group of researchers, physicians and lawyers from (1) Weill Cornell Center for Human Rights, Weill Cornell Medicine, (2) Social Media Lab, Department of Communication, College of Agriculture and Life Sciences, Cornell University, (3) Cornell Law School, Cornell University, and (4) Bronfenbrenner Center for Translational Research, College of Human Ecology, Cornell University

block styles 
    link(rel='stylesheet', href='/css/team.css')