.footer {
    height: 90px;
    width: 100%;
    background-color: #26415E;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center;
    padding: 0 30px;
    position: absolute;
    bottom: 0;
}

.footer>p {
    font-size: 20px;
    float: right;
}