.QandA {
    width: 75%;
    margin: 5rem 0rem;
    /* font-size: 1.3em; */
}

.pageTitle {
    color: #333333;
}

.sidebarMenu {
    display: inline !important;
}

.fullWidthMenu {
    display: none !important;
}

.addBorderRadius {
    border-radius: .28571429rem .28571429rem 0rem 0rem;
}

.ui.menu>.item,
.ui.menu>.item>.content.active {
    padding: 0px 0px 0px 0px !important;
}

.section_title {
    color: #26415E;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin: 0px;
    background-color: #d9d9d9;
}

.subsection {
    padding: 8px 0px;
}

.subsection_title {
    font-size: 18px;
    line-height: 22px;
    padding: 15px 25px;
    word-wrap: break-word;
    color: #333333;
}

.subsection_title.active {
    color: #298FFB;
}

.subsection_title:hover {
    color: #298FFB;
}

.subTitle {
    color: #26415E;
    /* text-align: center; */
    /* margin: 25px; */
    font-weight: bold;
}

.accordion>.title>i.minus.icon,
.accordion>.title.active>i.plus.icon {
    display: none;
    color: #298FFB;
    margin: 1px 20px 0px 10px;
    width: auto;
}

.accordion>.title>i.plus.icon,
.accordion>.title.active>i.minus.icon {
    display: inline-block;
    color: #298FFB;
    margin: 1px 20px 0px 10px;
    width: auto;
}

.QandA_div>.title {
    font-size: 20px !important;
    line-height: 30px;
    color: #333333;
    font-weight: 550;
    display: flex;
    justify-content: flex-start;
}

.QandA_div>.content {
    color: #333333;
    font-size: 20px !important;
    line-height: 30px;
    margin-left: calc(1.5em + 25px);
}


/** when page width < 780px **/

@media (max-width: 1050px) {
    .sidebarMenu {
        transition: 0.8s all ease;
        display: none !important;
        /** to hide/show the navbar items **/
    }
    .fullWidthMenu {
        transition: 0.8s all ease;
        display: inline !important;
        /** to hide/show the navbar icon**/
    }
    .subsection_title {
        padding: 15px 30px;
    }
}