.resources {
    width: 75%;
    margin: 6rem 0rem;
    font-size: 1.3em;
}

.sidebarMenu {
    display: inline !important;
}

.fullWidthMenu {
    display: none !important;
}

.addBorderRadius {
    border-radius: .28571429rem .28571429rem 0rem 0rem;
}

.ui.menu>.item,
.ui.menu>.item>.content.active {
    padding: 0px 0px 0px 0px !important;
}

.section_title {
    color: #26415E;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin: 0px;
    background-color: #d9d9d9;
}

.subsection {
    padding: 8px 0px;
}

.subsection_title {
    font-size: 18px;
    line-height: 1.2em;
    padding: 15px 25px;
    word-wrap: break-word;
    color: black;
}

.subsection_title.active {
    color: #298FFB;
}

.subsection_title:hover {
    color: #298FFB;
}

.ui.card {
    word-wrap: break-word;
    cursor: pointer;
    transition: transform 250ms;
}

.ui.card:hover {
    transform: translateY(-10px);
}

.externalLinkIcon {
    margin: 5px 5px 5px 8px !important;
    display: flex;
    float: right;
}

.header {
    color: #375C83 !important;
    margin: 0px !important;
    padding: 0px !important;
}

.content.extra {
    background-color: #f2f2f2 !important;
}

.ui.label {
    margin: 2.5px;
}


/** when page width < 780px **/

@media (max-width: 1050px) {
    .sidebarMenu {
        transition: 0.8s all ease;
        display: none !important;
        /** to hide/show the navbar items **/
    }
    .fullWidthMenu {
        transition: 0.8s all ease;
        display: inline !important;
        /** to hide/show the navbar icon**/
    }
    .subsection_title {
        padding: 15px 30px;
    }
}