.team {
    width: 75%;
    margin: 5rem 0rem 10rem 0rem;
    /* font-size: 1.3em; */
}

.image {
    width: 100%;
}

.image-80 {
    width: 80%;
}

h4 {
    line-height: 30px;
}

p {
    line-height: 30px;
    font-size: 20px;
}

a {
    color: #298FFB;
}

a:hover {
    text-decoration: underline;
    color: #298FFB;
}