@charset "utf-8";

/* ---- GENERAL ---- */

html,
body,
div {
    padding: 0em;
    margin: 0em;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    -webkit-print-color-adjust: exact !important;
    /* to enable background printing in Chrome*/
}

.bodyContainer {
    min-height: calc(100vh - 90px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 90px 0px 0px 0px;
    padding: 0px 0px 220px 0px;
}

.primaryColor {
    color: #26415E;
}

.secondaryColor {
    color: #375C83;
}

.boldText {
    font-weight: bold;
}

.underlineText {
    text-decoration: underline !important;
}

.italicText {
    font-style: italic;
}

.centerText {
    text-align: center;
}

.hidden {
    display: none;
}

.avoidWrap {
    display: inline-block;
}

.justifyContent-center {
    display: flex !important;
    justify-content: center;
}

.justifyContent-end {
    justify-content: end;
}

.alignItems-center {
    display: flex !important;
    align-items: center;
    align-content: center;
}

.noMargin {
    margin: 0px;
}

.noPadding {
    padding: 0px;
}


/* --- LINKS --- */

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a:active {
    text-decoration: none;
    cursor: pointer;
}


/* Used in Header Tabs*/

a.darkBlueLink {
    color: #26415E;
    text-decoration: none;
    cursor: pointer;
}

a.darkBlueLink:hover {
    color: #557AA1;
    text-decoration: none;
    cursor: pointer;
}

a.darkBlueLink:active {
    color: #375C83;
    text-decoration: none;
    cursor: pointer;
}

a.darkBlueLink.active h4 {
    color: #557AA1;
}


/* Used in Resources Cards*/

a.blue {
    color: #557AA1;
    text-decoration: none;
    cursor: pointer;
}

a.blue:hover {
    color: #26415E;
    cursor: pointer;
}

a.inverted:hover {
    color: #d9d9d9;
    cursor: pointer;
}