.footer {
    width: 100%;
    padding: 5% 13.5% !important;
    background-color: #26415E !important;
}

.emailLink {
    color: #298FFB;
}

.emailLink:hover {
    color: #ffffff;
}

.footer>.ui.container>.ui.grid>.column {
    background-color: #26415E;
    color: white;
}

.footer>.ui.container>.ui.grid>.column>p {
    font-size: 20px;
    line-height: normal;
}

.footer>.ui.container>.ui.grid>.column>p.privacy {
    margin-top: 16px;
    font-size: 16px;
    line-height: normal;
}

i.icon.envelope.white {
    margin-bottom: 5px;
}